* {
  padding: 0;
  color: #fff;
  background-color: #1a1a1d;
}
div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

th {
  background-color: #7f7f7f;
  padding: 0;
  border-radius: 10px;
  padding: 5px;
}
td {
  background-color: darkcyan;
  border-radius: 10px;
  padding: 5px;
}

tr {
  text-align: center;
}

.underFifty {
  background-color: #931404;
}

.Bclass {
  background-color: #cb7949;
}

.Aclass {
  background-color: #ffcfa3;
}

.low {
  background-color: #e3c467;
}

.high {
  background-color: #af1d29;
}

.justRight {
  background-color: #1f7442;
}

.doneBtn {
  background-color: green;
  border-radius: 50%;
}
