* {
  padding: 0;
  color: #fff;
  background-color: #1a1a1a;
}

/* body {
  animation: fluid 6s infinite;
  z-index: -1;
} */

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: darkcyan;
}

th {
  background-color: #7f7f7f;
  padding: 0;
  border-radius: 10px;
  padding: 5px;
}
td {
  background-color: darkcyan;
  border-radius: 10px;
  padding: 5px;
}

tr {
  text-align: center;
}

.underFifty {
  background-color: #931404;
}

.Bclass {
  background-color: #cb7949;
}

.Aclass {
  background-color: #ffcfa3;
}

.low {
  background-color: #e3c467;
}

.high {
  background-color: #af1d29;
}

.justRight {
  background-color: #1f7442;
}

.doneBtn {
  background-color: green;
  border-radius: 50%;
}

/* @keyframes fluid {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
} */
